In [1]:
import pandas as pd

In [2]:
df = pd.read_json("response.json")

In [3]:
df.head()

,_id,name,category,geocode,address,creation_date
0,57cf75cea73e494d8675ec4a,Pastimes Antiques,"[furniture_store, home_goods_store, store, poi...","{'lat': 35.909, 'lng': -79.046}",{'street_number': 'hellooo'},NaN
1,57cf75cea73e494d8675ec49,Apple,"[tech, phones, laptop]","{'lat': 34.98, 'lng': -79.48}","{'street_number': '435', 'street_name': 'Apple...",NaN
2,57cf75cea73e494d8675ec4b,Ithaca Farmers' Market,"[food, point_of_interest, establishment]","{'lat': 47.987, 'lng': -76.036}","{'street_number': '5901', 'street_name': 'Sout...",NaN
3,57cf75cea73e494d8675ec4c,Taughannock Farms Inn,[Lodging],"{'lat': 42.54457119999999, 'lng': -76.5983802}","{'zip': '14886', 'city': 'Trumansburg', 'stree...",NaN
4,57cf75cea73e494d8675ec4d,Ithaca Bakery,"[cafe, bakery, meal_takeaway, restaurant, food...","{'lat': 42.44261090000001, 'lng': -76.5086618}","{'zip': '14850', 'city': 'Ithaca', 'street num...",NaN

In [12]:
df["name"].unique().shape

(2925,)